body {
    /* change the font of text  for whole document */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* change the background color of body  to purple  */
    background-color: rgb(174, 124, 181);
}

/* set the position of header to stay in normal place  */

header {
    position: relative;
}

.wrapper {
    background-color: rgb(238, 210, 241);  /* change the background color of wrapper to light purple setting its width and place wrapper to center of the webpage  */
    width: 770px;
    margin: auto;
}

/* class of site title is created to adjust width of container and align the text to center  */
.site-title{
    width: 100%;
    text-align: center;
}

/* adjustments in h1 text which is placed on wide image  */
h1 {
    position: absolute;
    top: 40%;
    left: 37%;
    text-align: center;
}

nav li {
    display: inline-block;  /* adjusts the nav items in a row horizontally */
    width: 30%;/* sets the wisth for each item  */
    text-align: center; /* aligns the text horizontally in center  */
    border-right: 1px solid black; /* adds a black border in each list item  */
}

nav ul {
    list-style-type: none;
    /* removes the bullets from ul list  */
}

nav li:last-child {
    border-right: none;
    /* in the navigation menu it remove the border from last item  */
}

