body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aqua;
}

.wrapper {
    width: 75%;
    margin: auto;
    background-color:darkseagreen;
}

header {
    text-align: center;
    position: relative;
}

.image {
    width: 100%;
    text-align: center;
}

h1 {
    top: 50%;
    left: 40%;
    font-size: 40px;
    text-align: center;
    position: absolute;
    color: aliceblue;
}

 nav ul{
   
    display: inline-block;
    font-size: large;
    text-decoration: none;
    list-style-type: none;
}

nav li{
    display:inline-block ;
    width: 400px;
    text-align: center;
}

nav li:not(:last-child)::after {
    border-right: 2px solid black;
   
}

.fiximg {
    width: 200px;
    height: 220px;
    float: left;
    margin-right: 22px;
}


p{
   font-size: 20px; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 #information form{
    margin: 12px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 8px black;
 }


 .box{
    max-width: 100%;
    padding: 20px;
   
    border: 1px solid #000000;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
}

   
 input[type="text"],
 input[type="email"],
 textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #000000;;
}

 

label {
    display: inline-block;
    margin: 5px;
}



button {
    margin-top: 10px;
    /* button background color */
    background-color: #6b12b8;
    padding: 10px 20px;
   

}



 button:hover {
    background-color: #9791dd;
}

footer{
    text-align: right;
}